body
{
	background: #3b3685;
}

.login_div1 , .login_div2
{
	background: rgb(100, 71, 146);
	padding: 10px;
	float: none;
	border-radius: 15px;
}


#player1_name , #player2_name, #player1_score, #player2_score, #num1, #num2, #player_question, #player_answer
{
	display: inline-block;
	margin-left: 20px;
	color: white;
}

#word
{
	width: 60%;
}

#word_display
{
	letter-spacing: 5px;
}

#output
{
	background: rgb(192, 109, 209);
	border-radius: 10px;
	border-top: 10px solid #d088f1;
	padding: 10px;
	float: none;
	text-align: left;
}

#num1 , #num2
{
	color: white;
}